* {
  /* background-color: #8D0B41; */
  background-color: #FEF9E1 !important;
  line-height: 25px;
}
p {
  margin: 0;
}
h1 {
  text-align: center;
  line-height: 35px;
}
body {
  color: #8d0b41;
  font-family: "Libre Baskerville", serif;
  padding: 10px;
}
img {
  object-fit: contain;
  margin-left: 25%;
  width: 50%;
  margin-top: 20px;
}

.code{
  background-color: #E5D0AC !important;
  padding: 2px;
}

.large-code{
  margin: 10px 0;
    display: inline-block;
    padding: 20px;
    min-width: 30%;
}

@media (max-width: 768px) {
  img {
    margin-left: 0;
    width: 100%;
  }
}

.no-underline li a{
  text-decoration: none;
  color:#8d0b41
}